@forward "../public/assets/css/styles.css";

//*** ICONS IMPORTS ***//
@import url("../public/assets/icon-fonts/RemixIcons/fonts/remixicon.css");
@import url("../public/assets/icon-fonts/feather/feather.css");
@import url("../public/assets/icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../public/assets/icon-fonts/tabler-icons/webfont/tabler-icons.css");
@import url("../public/assets/icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../public/assets/icon-fonts/boxicons/css/boxicons.css");

//*** PLUGINS CSS IMPORTS ***//

@import "simplebar-react/dist/simplebar.min.css";
@import "flatpickr/dist/flatpickr.css";
@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";

.authentication .desktop-logo,
.authentication .desktop-white {
  height: 6.2rem;
  line-height: 3.2rem;
}
.sc-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.preloader {
  //per desktop e tablet
  position: fixed;
  top: 68px;
  left: 240px;
  width: calc(100% - 240px);
  height: calc(100vh - 68px);
  z-index: 9999;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 767px) {
  .preloader {
    left: 0;
      top: 68px;
    height: calc(100vh - 68px);
  }
}

.app-sidebar .main-sidebar-header .header-logo img {
  width: 100%;
  height: auto;
}

// Authentication background color
.authentication-background{
  background-color: rgb(0, 0, 0);
}