@forward "../public/assets/css/styles.css";

//*** ICONS IMPORTS ***//
@import url("../public/assets/icon-fonts/RemixIcons/fonts/remixicon.css");
@import url("../public/assets/icon-fonts/feather/feather.css");
@import url("../public/assets/icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../public/assets/icon-fonts/tabler-icons/webfont/tabler-icons.css");
@import url("../public/assets/icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../public/assets/icon-fonts/boxicons/css/boxicons.css");

//*** PLUGINS CSS IMPORTS ***//

@import "simplebar-react/dist/simplebar.min.css";
@import "flatpickr/dist/flatpickr.css";
@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";

.authentication .desktop-logo,
.authentication .desktop-white {
  height: 6.2rem;
  line-height: 3.2rem;
}
.sc-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.preloader {
  //per desktop e tablet
  position: fixed; /* CRUCIALE per la copertura dello schermo */
  top: 68px; /* Considera l'altezza dell'header se presente */
  left: 240px; /* Considera la larghezza della sidebar se presente */
  width: calc(
    100% - 240px
  ); /* Considera la larghezza della sidebar se presente */
  height: calc(100vh - 68px); /* Considera l'altezza dell'header se presente */
  z-index: 9999;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}

/* Questa è la regola che NASCONDE l'elemento, usando la classe che il tuo JS applica */
.preloader.show {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Stili Mobile (quando la sidebar è nascosta/collassata) */
@media (max-width: 767px) {
  .preloader {
    /* Torna a sinistra */
    left: 0;

    /* Torna a larghezza totale dello schermo */
    width: 100%;

    /* Mantieni il TOP sotto l'header */
    top: 68px;

    /* Mantieni l'altezza corretta */
    height: calc(100vh - 68px);
  }
}
