@forward "../public/assets/css/styles.css";

//*** ICONS IMPORTS ***//
@import url("../public/assets/icon-fonts/RemixIcons/fonts/remixicon.css");
@import url("../public/assets/icon-fonts/feather/feather.css");
@import url("../public/assets/icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../public/assets/icon-fonts/tabler-icons/webfont/tabler-icons.css");
@import url("../public/assets/icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../public/assets/icon-fonts/boxicons/css/boxicons.css");

//*** PLUGINS CSS IMPORTS ***//

@import "simplebar-react/dist/simplebar.min.css";
@import "flatpickr/dist/flatpickr.css";
@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";

@import "variables";

/* theme modifications */

body {
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
}
.authentication .desktop-logo,
.authentication .desktop-white {
  height: 6.2rem;
  line-height: 3.2rem;
}
.header-logo {
  height: 100%;
}
.horizontal-logo {
  padding: 5px 0rem;
}
.app-header .horizontal-logo .header-logo img {
  width: 40px;
  height: 40px;
}
.app-sidebar .main-sidebar-header {
  overflow: hidden;
}
.app-sidebar .main-sidebar-header .header-logo img {
  height: 100%;
  width: auto;
}
.customtable tbody tr td {
  padding-top: 14.8px;
  padding-bottom: 14.8px;
}
.authentication-background {
  background-color: rgb(0, 0, 0);
}
.stretch-row {
  align-items: stretch;
}
.stretch-column {
  display: flex;
  flex-direction: column;
}
.stretch-card {
  flex: 1 0 0;
  .card-body {
    height: 0px;
    display: flex;
    flex-direction: column;
  }
}
.fixed-height-card {
    height: 640px;
    max-height: 640px;
}
.table-break-word td,
.table-break-word th {
  white-space: normal;
}
.sticky-header-table {
  border-collapse: separate;
}
.sticky-header-table thead th {
  position: sticky;
  top: 0px;
  z-index: 10;
  // background-color: #f8f9fa;
  // border-bottom: 1px solid #dee2e6;
  // border-top: 1px solid #dee2e6;
}
.sticky-header-table td,
.sticky-header-table th {
  padding: 0.25rem !important;
  padding: 0.35rem !important;
}
.header-link {
  height: 40px;
}

/* calendar */

.more-link-event {
  color: #666;
  font-style: italic;
  cursor: pointer;
  background: none;
  border: none;
}

/* custom components */

.sc-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.sc-title {
  font-size: 26px;
  font-weight: 900;
}
.scroller-container {
  flex: 1 0 0;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}
.scroller-container::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.scroller-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}
.no-data {
  text-align: center;
  padding: 3rem !important;
}

/* preloader */

.preloader {
  //per desktop e tablet
  position: fixed;
  top: 68px;
  left: 240px;
  width: calc(100% - 240px);
  height: calc(100vh - 68px);
  z-index: 9999;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 767px) {
  .preloader {
    left: 0;
    top: 68px;
    height: calc(100vh - 68px);
  }
}

/* SearchBox component */

.search-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  label {
    font-size: 13;
    font-weight: 500;
    margin-bottom: 6;
  }
  .search-box-search {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    border: 1px solid #007bff;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 4px;
    border-radius: 4px;
    padding: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  button {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    font-weight: normal;
  }
  button.selected {
    color: #007bff;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  li {
    padding: 8px 12px;
    cursor: pointer;
    background: transparent;
    color: black;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  li.selected {
    background: #007bff;
    color: white;
  }
}

/* utility classes */

.clickable {
  cursor: pointer;
}
.sc-grid {
  display: flex;
  flex-direction: row;
  gap: $sep;
}
.sc-grow {
  flex: 1 0 0;
}
.sc-shrink {
  flex: 0 1 0;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: right;
}
.sc-margin {
  margin-bottom: $sep;
}
.vertical-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.spacing {
  margin-bottom: $sep;
}
.fixed-height {
  height: 560px;
}
.fill {
  width: 100%;
  height: 100%;
}